body {
  margin:0;
}

.box1 img {
  width: 100%;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: black;
}

.heather {
    width: 100%;
    height: 5%;
    background-color: red;
    position: absolute;
    top: 0;
}

.margin1 {
    width: 10%;
    height: 80%;
    background-color: black;
    position: absolute;
    top: 10%;
}

.box1 {
    width: 40%;
    height: 80%;
    /*background-color: #e6e5e6;*/
    position: absolute;
    top: 10%;
    left: 10%;
}

.box1 img {
  width: 100%;
}

.sentence1 {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 300%;
    font-weight: bold;
    font-family: Engravers MT;
    color: red;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 380;

    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;

}

.sentence2 {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 300%;
    font-weight: bold;
    font-family: Engravers MT;
    color: red;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 330;

    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;

}

.sentence3 {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 300%;
    font-weight: bold;
    font-family: Engravers MT;
    color: red;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 280;

    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-timing-function: ease-in-out;

}

.sentence4 {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 300%;
    font-weight: bold;
    font-family: Engravers MT;
    color: red;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 230;

    animation-name: fadein;
    animation-duration: 0.5s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;

}


.box2 {
    width: 40%;
    height: 80%;
    /*background-color: white;*/
    position: absolute;
    top: 10%;
    left: 50%;
}

.box2 img {
  width: 100%;
}

.actor1 {
    padding: 0;
    margin-left: 5%;
    border: 0;
    font-size: 80%;
    font-weight: bold;
    font-family: Helvetica Neue;
    color: white;
    position: absolute;
    text-align: left;
    left: 0;
    right: 0;
    bottom: 570;

}

.actor2 {
    padding: 0;
    margin-right: 5%;
    border: 0;
    font-size: 80%;
    font-weight: bold;
    font-family: Helvetica Neue;
    color: white;
    position: absolute;
    text-align: right;
    left: 0;
    right: 0;
    bottom: 570;

}

.title {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 550%;
    font-weight: bold;
    font-family: Engravers MT;
    color: red;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom:280;

    animation-name: fadein;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-timing-function: ease-in-out;

}

@-webkit-keyframes fadein { 
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.date {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 150%;
    font-weight: bold;
    font-family: Engravers MT;
    color: white;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 50;

}

.margin2 {
    width: 10%;
    height: 80%;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 90%;
}





